<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Price Predictor</title>
</head>
<body>
    <form action="pred">
        Enter present showroom price of the vehicle: <input type="text" name="f1"><br>
        Enter kilometers driven of the vehicle: <input type="text" name="f2"><br>
        Enter number of owners of the vehicle: <input type="text" name="f3"><br>
        Enter age of the vehicle: <input type="text" name="f4"><br>
        Is vehicle is diesel type(Enter 1 for yes and 0 for no) : <input type="text" name="f5"><br>
        Is vehicle is petrol type(Enter 1 for yes and 0 for no) : <input type="text" name="f6"><br>
        Are you an individual seller(Enter 1 for yes and 0 for no) : <input type="text" name="f7"><br>
        Is vehicle transmission is manual type(Enter 1 for yes and 0 for no) : <input type="text" name="f8"><br>

        <input type="submit">

    </form>
</body>
</html>